@import "../../../styles/variables";

.Hyperlink {
  color: white;
  font-weight: 600;
  transition: all .1s ease-in-out;
  text-decoration: none;

  &:visited {
    opacity: .78;
  }

  &:hover {
    opacity: .85;
  }

  &:disabled {
    opacity: .6;
  }
}
