@import "../../../styles/variables";

.Round-Button {
  background: $skew_gradient;
  color: white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all .1s ease-in-out;

  &:hover {
    opacity: .93;
  }

  &.large {
    padding: .5em;
    height: 3em;
    max-height: 3em;
    min-width: 3em;
    border-radius: 3em;
    & > span {
       font-size: 1.5em;
     }
  }

  &.small {
    padding: .1em;
    height: 1.38em;
    max-height: 1.38em;
    min-width: 1.38em;
    border-radius: 1.38em;
    & > span {
      font-size: .7em;
    }
  }

  & > span {
    display: block;
    max-height: inherit;
  }
}
