@import "../../../styles/variables";

// shown submenu
.Menu-Item__container:hover + .Submenu, .Submenu:hover {
  top: 100%;
  opacity: 1;
  // uncover submenu
  //&:after {
  //  background-color: transparent;
  //  transition: all .075s cubic-bezier(1, 0, 0, 1) .125s;
  //
  //}
}

// hidden submenu + default styles
.Submenu {
  //background-color: rgba(0, 0, 0, .8);
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  transition: $default_transition;
  z-index: -1;
  padding-bottom: .3em;

  // hidden attributes
  top: 0;
  opacity: 0;

  // cover submenu to prevent font leaks
  //&:after {
  //  content: '\A';
  //  background-color: $main_black;
  //  position: absolute;
  //  width: 100%;
  //  height: 100%;
  //  top: 0;
  //  left: 0;
  //  transition: all .075s cubic-bezier(1, 0, 0, 1) .1s;
  //}
}
