$main_blue: #00447f;
$main_purple: #bc1551;
$main_black: #100F10FF;

$skew_gradient: linear-gradient(300deg, rgba(0,68,127,1) 0%, rgba(188,21,81,1) 100%);
$skew_gradient_bright: linear-gradient(300deg, rgb(4, 90, 162) 0%, rgb(225, 20, 100) 100%);
$radial_gradient: radial-gradient(circle, rgba(188,21,81,1) 0%, rgba(0,68,127,1) 100%);
$linear_gradient: linear-gradient(90deg, rgba(188,21,81,1) 0%, rgba(0,68,127,1) 100%);

$monochrome_linear_gradient: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(0,0,0,0) 100%);

$blue_fade_linear_gradient: linear-gradient(90deg, rgba(0,0,0,0) 10%, $main_blue 50%, rgba(0,0,0,0) 90%);
$blue_skew_gradient: linear-gradient(60deg, rgba(0,68,127,1) 0%, rgb(4, 39, 68) 90%);

$purple_fade_linear_gradient: linear-gradient(90deg, rgba(0,0,0,0) 10%, $main_purple 50%, rgba(0,0,0,0) 90%);
$purple_skew_gradient: linear-gradient(60deg, #bc1551 0%, #86133b 90%);

$default_transition: all .33s cubic-bezier(0.86 ,0, 0.07, 1);

$mobile_width_treshold: 1000px;
