@import "../../../styles/variables";

.Footer {
  background-color: $main_black;
  width: 100%;
  display: flex;
  height: 150px;
  overflow: hidden;

  @media screen and (max-width: $mobile_width_treshold) {
    flex-direction: column;
    height: 400px;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.Footer-contact-section {
  flex: 1;
  @media screen and (max-width: $mobile_width_treshold) {
    order: 1;
    padding: 1.2em 0;
  }

  .Footer-contact-section__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
  }
}

.Footer-logo-section {
  width: 220px;
  @media screen and (max-width: $mobile_width_treshold) {
    width: initial;
    flex: 1;
    order: 3;

    .Church-Logo {
      bottom: -15px;
    }
  }
}

.Footer-social-section {
  flex: 1;
  @media screen and (max-width: $mobile_width_treshold) {
    order: 2;
    padding: 1.2em 0;
  }

  .Round-Button {
    margin: 0 .8em;
  }
}
