@import "../../../styles/variables";

.Menu-Item {
  &, &--active {
    //background: $main_black;
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease-in-out;
    text-transform: uppercase;
    padding: .7em;
    position: relative;
    font-weight: 400;

    .Menu-Item__chevron {
      font-size: .6em;
      margin-left: .5em;
      transition: $default_transition;
    }

    @media screen and (min-width: $mobile_width_threshold + 1) {
      &:hover .Menu-Item__chevron {
        transform: rotate(-180deg);
      }
    }
  }

  &--active {
    //opacity: 1;
    font-weight: 600;

    &:after {
      content: '\A';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 6px;
      width: 6px;
      border-radius: 6px;
      //background: $skew_gradient_bright;
      background: $purple_skew_gradient;
      bottom: .5em;
      opacity: .8;
    }
  }

  & > span {
    display: block;
    max-height: inherit;
  }

  // on hover behaviour
    &:before, &--active:before {
      @media screen and (min-width: $mobile_width_threshold + 1) {
        content: '\A';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 0;
        background: rgba(255, 255, 255, 0.33);
        transition: all .1s cubic-bezier(0.86, 0, 0.07, 1);
      }
      @media screen and (max-width: $mobile_width_threshold) {
        display: none;
      }
    }
    @media screen and (min-width: $mobile_width_threshold + 1) {
      &:hover, &--active:hover {
        text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.3);
      }
      &:hover::before, &--active:hover::before {
        width: 98%;
      }
    }
  // on hover behaviour end

  // toggable item
  &--expanded {
    @media screen and (max-width: $mobile_width_threshold) {
      &:before {
        display: none;
      }
      .Menu-Item__chevron {
        transform: rotate(-180deg);
      }
    }
  }
}
