@import "../../../styles/variables";

.Menu, .Menu--sticky {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  //background-color: $main_black;
}

.Menu--sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
