@import "../../../styles/variables";

$gutter_width: 15px;

.Image-Masonry {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -$gutter_width; /* gutter size offset */
  width: auto;
}
.Image-Masonry__column {
  padding-left: $gutter_width; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.Image-Masonry__column > img { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: $gutter_width;
  width: 100%;
}
